body{
  background-color: hsl(194, 14%, 19%);
  margin: 0%;
}

header ul {
  position: fixed;
  width: 100%;
  display: flex;
  margin-top: 0%;
  font-size: large;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  background-color: #9797a9;
  padding: 15px 0;
}


a{
  text-decoration: none;
}

header li {
  margin: 0 10px;
  color: hsl(0, 0%, 0%);
  
}

.v50{
  text-align: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #887721;
 
}

#home{
  width: 100%;
  
}

.products {
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}

.product {
  border: 1px solid #170202;
  border-radius: 5%;
  padding: 15px;
  width: 200px;
  text-align: center;
  background-color: hsl(54, 26%, 85%);
}

.product {
  width: 100%;
  height: auto;
  width: auto;
  margin-bottom: 10px;
}

.product button{
  background-color: #28a745;
  color: white;
  padding: 10px ;
  border: none;
  cursor: pointer;
}

.product button:hover {
  background-color: #218838;
  cursor: pointer;
}

.cart {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#cart-total {
  font-weight: bold;
  color: #dc3545;
}

.clear{
  border-radius: 5%;
  color: white;
  background-color: #9a2727;
  padding: 10px;
  cursor: pointer;
}

.contact-form {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #9a2727;
  background-color: #d8d1d1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #0d0505;
  background-color: #b6d1f0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 10px;
}

footer ul li {
  display: inline;
  margin: 10px;
}

footer p {
  margin: 10px;
}


z