.card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Student{
    text-align: center;
}

.profile,.academic-information,.Assignment,.time-table,.Announcements{
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: rgb(12, 0, 0);
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    max-width: 250px;
    display: ;
}